#parent{

    padding:10px;
}

#child-1 {
border: 2px;
border-color: red;
border-style:dotted;
border-radius: 5px;
height: 50px;
box-sizing: border-box;

padding: 5px;
}

#child-2 {
    border: 2px dotted blue ;
    border-radius: 5px;
    height: 50px;
    width: 30%;
    box-sizing: border-box;
    float: left;
    padding: 5px;

}

#child-3 {
    border: 2px dotted green ;
    border-radius: 5px;
    height: 50px;
    width: 70%;
    box-sizing: border-box;
    float: right;
    padding: 5px;

    }
